/* imports */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap");

@media screen and (max-width: 1000px) {
  .card.game {
    width: 30%;
  }

  /* Barra de rolagem */
  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(61, 61, 62) a9a9a9;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 20px;
    border: 2px solid #9d9d9d;
  }
}

@media screen and (max-width: 576px) {
  .card.game {
    width: 40%;
  }
}

@media screen and (max-width: 470px) {
  .card.game {
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .card.game {
    width: 87%;
  }
}

/* -------------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: o;
  display: block;
}

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#alert {
  position: absolute;
  right: 0%;
  bottom: 0%;
  z-index: 10000;
}

button.floattingButton:hover{
  transform: scale(1.001);
  font-size: larger;
}
  button.floattingButton{
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 10;
}

/* Tela Loading */
.loading {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
}

.loading img {
  max-width: 100px;
  animation-duration: 1000ms;
  animation-name: rotacion;
  animation-iteration-count: infinite;
}

@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(360deg);
  }
  50% {
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
  }
}
/* Tela Loading */

.btn-log {
  cursor: pointer;
  text-decoration: none;
  color: #557;
}

.btn-log:hover {
  color: #668;
  text-shadow: 0px 0px 3px;
}

.btn-usrname {
  cursor: pointer;
  text-decoration: none;
}

.perfil-box{
  border: double #555;
  box-shadow: 0px 0px 5px;

}
/* Tic Tac Toe */
